.navBar{
    background-color: #424242;
    position: sticky;
    top: 0px;
    z-index: 99;
    & ul{
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        & li{
            list-style-type: none;
            & a{
                color: #ffffff;
                
            }
        }
    }
}
