.navBar{
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0px;
    z-index: 99;
    height: 80px;
    animation: enhance-header linear both;
    animation-timeline: scroll( root );
    animation-range: 0 200px;

    &__options-list{
        display: flex;
        align-items: center;
        justify-content: space-around;
        & li{
            height: 100%;
            width: 150px;
            display: flex;
            color: #9b9b9b;
            cursor: pointer;
            text-align: center;
            align-items: center;
            list-style-type: none;
            justify-content: center;
            transition: .5s ease-out;
            & a{
                color: #9b9b9b;
                transition: .5s ease-out;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            };
            &:hover{
                color: #ffffff;
                background-color: rgba(58, 58, 58, 0.486);
                & a{
                    color: #ffffff;
                }
            }
        }
    }
    &__sub-Menu {
        position: relative;
        text-align: center;
        & ol {
          width: 100%;
          position: absolute;
          top: 80px;
          left: 0px;
          list-style-type: none;
          margin: 0;
          padding: 0;
          display: none;
          border-radius: 0px 0px 15px 15px;
          background: #000000a2;
          color: #9b9b9b;

          & li {
            height: 40px;
            & a{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

          }
        }
    
        &.--open {
            ol {
                display: block;
            }
        }
    }
    &__menu-mobile{
        display: flex;
        padding: 0px 10px;
        align-items: center;
        position: relative;
        &__hamburger {
            background-color: transparent;
            cursor: pointer;
            padding: 0px;
            & svg {
              height: 3em;
              transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
            }
            & .line {
              fill: none;
              stroke: white;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-width: 3;
              transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
            }
            & .line-top-bottom {
              stroke-dasharray: 12 63;
            }
            &.--open{
                & svg {
                  transform: rotate(-45deg);
                }
                & svg .line-top-bottom {
                  stroke-dasharray: 20 300;
                  stroke-dashoffset: -32.42;
                }

            }
          }
        &__content-menu{
            position: absolute;
            top: 80px;
            right: 0px;
            width: 0px;
            height: calc(100vh - 80px);
            transition: .5s ease-out;
            overflow: hidden;
            background-color: #000000;
            &.--open {
                width: 200px;
            }
            & li{
                height: 100%;
                width: 100%;
                display: flex;
                color: #9b9b9b;
                cursor: pointer;
                text-align: center;
                align-items: center;
                list-style-type: none;
                justify-content: center;
                transition: 0.5s ease-out;
                flex-wrap: wrap;
                & a{
                    padding: 15px 0px;
                    color: #9b9b9b;
                    transition: .5s ease-out;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                        color: #ffffff;
                        background-color: rgba(58, 58, 58, 0.486);
                        & a{
                            color: #ffffff;
                        }
                    }
                };
                & button{
                    background-color: transparent;
                    color: #9b9b9b;
                    transition: .5s ease-out;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 15px 0px;
                    &:hover{
                        color: #ffffff;
                        background-color: rgba(58, 58, 58, 0.486);
                    }
                }
            }
            & ol{
                width: 100%;
                list-style-type: none;
                overflow: hidden;
                max-height: 0px;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                color: #9b9b9b;
                transition: max-height .5s ease-out;
                &.--open{
                    max-height: 250px;
                }
                & li {
                  height: 40px;
                  & a{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
      
                }
            }
        }
    }
    @keyframes enhance-header {
        to {
            background: #000000b2;
            backdrop-filter: blur(5px);
        }
    }
}


