.home {
  background-color: transparent;
  &__section-3{
    display: flex;
    justify-content: center;
    min-height: calc(60vh - 80px);
    padding-bottom: 50px;
    animation: animationInText linear both;
    animation-timeline: view();
    animation-range: 
      entry 10% cover 30%,
    ;
    @keyframes animationInText {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    &__content-info{
      max-width: 700px;
      display: flex;
      flex-direction: column;
      & h2{
        font-size: 50px;
      }
      & p{
        font-size: 20px;
      }
    }
  }
  &__section-4{
    width: 100%;
    display: flex;
    min-height: calc(60vh - 80px);
    flex-direction: column;
    text-align: center;
    animation: animationInText linear both;
    animation-timeline: view();
    animation-range: 
      entry 20% cover 30%,
    ;
    @keyframes animationInText {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    &__content-info{
      max-width: 900px;
      display: flex;
      flex-direction: column;
      margin: 0px auto;
      padding-bottom: 50px;
      & h2{
        font-size: 50px;
      }
      & p{
        font-size: 20px;
      }
    }
    & img{
      width: 100%;
    }
  }
}

.section-new{
  background-image: url(https://estaticos.elcolombiano.com/binrepository/998x665/0c52/998d562/none/11101/QJEW/mtatuajes-en-sabaneta-3_40094000_20220605144706.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
  position: relative;
  height: calc(100vh - 80px);
  filter: grayscale(100%);
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: 
    entry 10% cover 60%,
  ;
  @keyframes reveal {
    from {
      background-position: 0% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }

  & img{
    width: 100%;
    filter: drop-shadow(0 0 50px rgb(0, 0, 0));
  }
  &__image1{
    rotate: 180deg;
    position: absolute;
    top: 0px;

  }
  &__image2{
    position: absolute;
    bottom: -1px;
  }
  &__content-info{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #00000065;
    justify-content: center;
    align-items: center;
    color: white;
    & h2{
      font-size: 40px;
    }
  }
}
